.sidebar__container {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 20;

  .sidebar__logo_container {
    padding: 0.7rem;
    margin-top: 10px;
  }

  .sidebar__company_menu_container,
  .sidebar__user_menu_container,
  .sidebar__logout_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    .active {
      background: #f1f7f2;
      border-left: 3px solid #24b11a;
      color: #000 !important;
    }

    .sidebar__icons {
      width: 100%;
      font-size: 32px;
      cursor: pointer;
      color: rgb(116, 116, 116);
      transition: 0.2s;
      padding: 8px 0;

      &:hover {
        color: #000;
        background: #f1f7f2;
      }
    }
  }

  .sidebar__logout_container {
    margin-bottom: 80px;

    .sidebar__icons {
      &:hover {
        color: red;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 430px) {
  .sidebar__icons {
    font-size: 3rem;
    color: rebeccapurple;
  }
}
