.customers__container {
  margin-left: 30px;
  width: 95%;

  .customers__inner_container {
    h1 {
      color: rgb(83, 83, 83);
    }

    .tables__container {
      .tables__action {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .tables__search_feature {
          display: flex;
          align-items: center;

          p {
            background: #3fe929;
            cursor: pointer;
            color: #fff;
            padding: 4px 4px;
            border-radius: 2px;
            font-size: 0.8rem;
            text-align: center;
            margin: 0 4px;
            transition: 0.2s;

            &:hover {
              background: green;
            }
          }

          input {
            width: 100%;
            padding: 10px 15px;
            border-radius: 2px;
            outline: none;
            border: 1px solid rgba(83, 83, 83, 0.767);
          }
        }
        .tables__filter_feature {
          select {
            border: 1px solid rgba(83, 83, 83, 0.767);
            padding: 9px 15px;
            outline: none;
            border-radius: 2px;
            background: #fff;
          }
        }
      }

      .tables__table_container {
        margin: 30px 0;
      }
    }
  }
}

@media (max-width: 945px) {
  .customers__container {
    // for 430px
    padding-right: 20px;
  }
}
